- name: Check if namespace exists
  shell: "{{ oc_path }} get namespace/{{ istio.namespace }}"
  register: r
  ignore_errors: yes

- name: Create namespace (if if doesn't exist)
  shell: "{{ oc_path }} new-project istio-system"
  when:
    - r.stderr != ""
    - r.stderr.find("NotFound") != -1